.orders-category {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 2%;
}

.orders-product-image {
  width: 100px;
  height: 100px;
  object-fit: cover; 
  float: left;
  margin-right: 20px; 
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.orders-item-details {
  line-height: 1; 
  background-color: rgba(255, 255, 255, 0.6); 
  margin-bottom: 10px; 
  padding: 10px; 
}

.orders-item-title {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.orders-item-sharer,
.orders-item-date {
  color: var(--primary); 
}

.orders-item-date {
  font-style: italic;
}

.orders-container {
  width: 95%;
  margin: auto;
}

.all-orders {
  width: 95%;
}

.order-divide-line {
  border: 1px solid rgba(151, 101, 104, 0.5); 
  width: 92%;
}
