.activity-button {
  height: 65%;
  width: auto; 
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: auto; 
  color: var(--primary); 
  border-radius: 5px; 
  font-size: 1.1em; 
  background-color: white; 
  border: 1px solid var(--primary);
}

.activity-button:hover {
  background-color: transparent; 
}

.activity-modal-overlay {
  margin-top: 50px;
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.activity-modal-overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); 
}

.status-header {
  font-size: 2em;
  font-weight: bold;
}

.flex-center {
  display: flex;
  align-items: center;
}

.activity-status-header {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 2%;
}
.activity-item-title {
  margin-top: 2%;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1%;
}
.activity-flex-center {
  display: flex;
  align-items: center;
}

.activity-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.activity-margin-left {
  margin-left: 20px;
}

.activity-history-header {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 2%;
}

.activity-divide-line {
  border-bottom: 1px solid var(--primary--dim);
  margin-top: 2%;
  margin-bottom: 2%;
}

.activity-status {
  color: rgb(192, 93, 90);
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}


.activity-approve-button {
  margin: 1%;
  background-color: var(--primary);
  font-weight: normal; 
  font-size: 1em; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  border-radius: 5px;
  width: auto; 
  white-space: nowrap; 
}

.activity-points {
  margin-top: 2%;
  margin-bottom: 2%;
}