.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px; /* Adjust this value as needed */
  max-width: 1200px;
  padding: 20px;
  font-family: Arial, sans-serif;
  transform: translateX(20%);
  transition: transform 0.2s;
}

#item-title  {
  margin-top: 5px;
  font-size: 2em;
margin-bottom: 5px;
}


#item-sharername {
  margin-top: 10px;
  margin-bottom: 30px;

}

.item-container.active {
  transform: translateX(-20%);
}

.item-container.exiting {
  transform: translateX(100%);
}
.item-content {
  display: flex;
  justify-content: space-between;
  width: 1200px; /* adjust as needed */
}

.item-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px; /* adjust as needed */
  margin-right: 7%; /* Increase this value as needed */
}
.item-image-container {
  width: 450px;
  height: 450px;
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-details {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.item-location {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--primary);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary--dim);
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.location-container {
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
  width: 100%; /* adjust to span the whole container width-wise */
}

.location-container .location-details {
  width: 50%; /* Adjust to take half the space of the container */
}
.back-button-link {
  text-decoration: none; /* remove underline */
}
.back-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  color: var(--primary);
  font-size: 16px;
  width: 40px; /* adjust as needed */
  height: 40px; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* remove underline */
  transition: background-color 0.3s, color 0.3s; /* smooth transition */
margin-right: 10%;

}

.back-button:hover {
  background-color: var(--primary--dim); /* change background color on hover */
  color: white; /* change icon color on hover */
}

.rounded-box {
  background-color: white;
  box-shadow: 0px 0px 7px rgb(221, 220, 216);
  border: none;
  border-radius: 15px;
  padding-left: 5%; /* Increase this value as needed */
  padding-right: 5%; /* Increase this value as needed */
  padding-top: 3%; /* Increase this value as needed */
  padding-bottom: 5%; /* Increase this value as needed */

  /* margin: 10px 0; */
  width: 80%; /* Decrease this value as needed */
}
.uploader-rating {
  display: flex;

  align-items: center;
}



.details-rating {
  display: flex; /* Makes the stars horizontal */
  margin-top: 0.5em; /* Adds space above the stars */
  margin-bottom: 0.1em; /* Adds space below the stars */
  margin-top: 10px;
  margin-bottom: 20px;
}

.details-rating i {
  margin-right: 0.25em;
}

.details-rating .fas {
  color: rgb(255, 227, 103); /* Makes the filled stars yellow */
}

.details-rating .far {
  color: gray; /* Makes the empty stars gray */
}

.details-description {
  margin-bottom: 8%; /* Adjust this value as needed */

}
.points-container {
  display: flex; /* make the children align in a row */
  align-items: baseline; /* align the children along their baseline */
}

.details-points {
  margin-top: 2%;
  font-size: 1.5em; /* make the text bigger */
  font-weight: bold; /* make the text bold */
  margin-right: 2%;
}

.details-points-unit {
  font-size: 1em; /* make the text normal size */
}

.details-rewards {
  margin-left: auto; /* push the element to the right */
  text-align: right; /* make the text right-aligned */
}

.details-rewards div:first-child {
  font-weight: bold; /* make "You get" bold */
  margin-bottom: 3%;
}

.points-color {
  color: var(--primary); /* make the text brown */
}