.activity-button {
  height: 65%;
  width: auto; /* This makes the button take up only as much width as it needs */
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: auto; /* This pushes the button to the right */
  color: var(--primary); /* This sets the text color to var(--primary) */
  border-radius: 5px; /* This rounds the corners */
  font-size: 1.1em; /* This makes the text size smaller */
  background-color: white; /* This clears the background color */
  border: 1px solid var(--primary); /* This adds a border of var(--primary) color */
}

.activity-button:hover {
  background-color: transparent; /* This changes the background color to white on hover */
}

.activity-modal-overlay {
  margin-top: 50px;
  width: 80%; /* This makes the modal less wide */
  margin-left: auto;
  margin-right: auto;
}

.activity-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75); /* This sets the background color of the modal overlay to transparent black */
}