.date-container {
  display: flex;
  justify-content: flex-start; 
}

.date-field:first-of-type {
  margin-right: 30px;
}

.date-field {
  font-weight: bold;
}

.date-input {
  width: 100px;
}

.date-input {
  background-color: white;
  border: 1px solid var(--primary--dim);
  font-size: 0.8em;
  padding: 5px;
  font-family: "Inter", sans-serif; 
}

.NewRequestInput-button {
  width: 100%; 
  height: 60px; 
  border-radius: 10px; 
  background-color: var(--primary--dim); 
  color: white; 
  padding: 10px 20px; 
  transition: background-color 0.3s ease; 
  font-weight: bold; 
  font-size: 1.2em; 
}

.NewRequestInput-button:hover {
  background-color: var(--primary); 
}

.request-sent {
  width: 95%; 
  height: 50px; 
  background-color: white;
  color: var(--primary);
  font-size: 1em; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.unavailable-item-notice {
  color: var(--second);
}


.total-points-container {
  margin-top: -2%;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif; 
  margin-bottom: -5%; 
}

.total-rewards-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif; 
  margin-bottom: -2%;
}
.total-points-text {
  font-size: 1.2em; 
}

.total-points-number {
  font-weight: bold; 
  font-size: 1.2em; 
}

.total-rewards-text {
  font-size: 0.8em; 
  color: var(--primary);
}

.total-rewards-number {
  font-size: 0.8em; 
  color: var(--primary);
  font-weight: bold;
}